node_modules
npm-debug.log*
.npm
.nyc_output
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
Thumbs.db
*.log
.git
.gitignore
README.md
.vscode
.azure
bin
obj
.vs
